
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "@Microsoft YaHei UI Light";
}
body {
    /* background: rgba(252, 238, 10, 1); */
    /* background: rgba(253, 1, 48, 1); */
    /* background: rgba(2, 215, 242, 1); */
    padding: 130px 0;

background: whitesmoke;
}
.card {
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 22px;
    box-shadow: 0 0 30px 10px rgba(15, 15, 15, .5);
    width: 400px;
    height: 600px;
    background: rgba(15, 15, 15, 1);
    
    
}
.card:hover .header img {
    filter: grayscale(100%);
}

.status {
    position: absolute;
    top: 0; right: 0; left: 0;
    padding: 10px 20px;
    font-size: x-large;
    z-index: 3;
    color: rgba(252, 238, 10, 1);
    /* color:rgba(253, 1, 48, 1); */
    /* color:rgba(2, 215, 242, 1); */
}
.status i:hover { cursor: pointer; }

.header { position: relative; }
.header img {
    display: block;
    width: 100%;
    transition: 1s;
}
.header::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: linear-gradient(to bottom,
        rgba(15, 15, 15, 0) 35%,
        rgba(16, 16, 16, 0.9
        ) 45%,
        rgba(17, 17, 17, 1) 80%
    );  
    transition: 1s;  
}
.header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: rgba(252, 238, 10, .1);
}

.content {
    position: absolute;
    bottom: 10px;
    padding: 10px;
    color: white;
    font-size: medium;
    transition: 1s;
    z-index: 2;
}
.content h2 {
    color:black;
    background: rgba(252, 238, 10, 1);
    /* background: rgba(253, 1, 48, 1); */
    /* background: rgba(2, 215, 242, 1); */
    width: 290px;
    padding: 0 10px;
    margin: auto;
    clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
}
.content p {
    margin-top: 10px;
}

.rating {
    display: flex;
    justify-content: space-around;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.steam, 
.techradar {
    padding: 2px 10px;
    width: 120px;
    background: rgba(252, 238, 10, 1);
    /* background: rgba(253, 1, 48, 1); */
    /* background: rgba(2, 215, 242, 1); */
    color: black;
    border-radius: 2px;
    font-weight: bold;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.details {
    display: flex;
    justify-content: space-around;
    font-size: small;
    padding: 5px;
    margin-top: 10px;
    border-bottom: 1px dashed rgba(252, 238, 10, 1);
    border-top: 1px dashed rgba(252, 238, 10, 1);
    /* border-bottom: 1px dashed rgba(253, 1, 48, 1);
    border-top: 1px dashed rgba(253, 1, 48, 1); */
    /* border-bottom: 1px dashed rgba(2, 215, 242, 1);
    border-top: 1px dashed rgba(2, 215, 242, 1);
   */
}
.details span {
    padding: 2px 5px;
    transition: .3s;
}
.details span:hover {
    background: rgba(252, 238, 10, 1);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.button {
    display: block;
    width: 200px;
    border: 2px solid  rgba(252, 238, 10, 1);
    /* border: 2px solid  rgba(253, 1, 48, 1); */
    /* border: 2px solid  rgba(2, 215, 242, 1); */
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    transition: .2s;
}
.button:hover {
    background: rgba(252, 238, 10, 1);
    /* background: rgba(253, 1, 48, 1); */
    /* background: rgba(2, 215, 242, 1); */
    color: black;
    color: rgba(17, 17, 17, 1);
    cursor: pointer;
    font-weight: bold;
}